<!DOCTYPE html>
<html lang="ro">
<head>
    <title><%= titlu %></title>
    <link rel="stylesheet" href="/css/eroare.css">
</head>
<body>
    <h1><%= titlu %></h1>
    <p><%= text %></p>
    <img src="<%= imagine %>" alt="Eroare">
</body>
</html>

