<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <title>Galerie Statică</title>
  <link rel="stylesheet" href="/CSS/galerie.css">
</head>
<body>
  <h1>Galeria noastră</h1>
  <div class="galerie">
    <% for (let img of imagini) { %>
      <img class="imagine-galerie" src="/imagini/<%= img %>" alt="Imagine din galerie">
    <% } %>
  </div>    
</body>
</html>
