<!DOCTYPE html>
<html lang="ro">
    <%- include('../fragmente/head') %>
<body>
    <%- include('../fragmente/header') %>
    <p><%- locals.ip %></p>
    <main>
            <section id="Despre-Cutite">
                <h2>Despre Cutite</h2>
                <p>Vizualizează videoclipurile noastre recomandate:</p>
                <div class="taburi-iframe">
                    <a href="https://www.youtube.com/embed/2IVOBqLyHtY" target="ifr-video">Otelul de Damasc</a>
                    <a href="https://www.youtube.com/embed/LAplk_irlPE" target="ifr-video">Cutite de Bucatarie</a>
                </div>
                
                <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/2IVOBqLyHtY" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>               
                <p>Utilizarea corectă a unui <dfn title="Instrument ascuțit folosit pentru tăiere">cuțit</dfn> este esențială atât pentru <strong>siguranță</strong>, cât și pentru eficiență în bucătărie. Dacă ești nou în <b>lumea gătitului</b> sau pur și simplu dorești să îți îmbunătățești abilitățile cu cuțitul, avem un <em>ghid perfect</em> pentru tine!</p>
                <a href="pdf/Basic-Knife-Skills-PDF.pdf" download="Ghid Utilizare Cutite in Bucatarie"><i class="fa-solid fa-download fa-beat"></i>Descarcă ghidul nostru despre Abilități de Bază cu Cuțitul</a>
            </section>            
     
        <section id="Colectia-SharpMasters">
            <h2>Colectia SharpMasters</h2>
            <article>
                <h3>Cuțite de bucătărie</h3>
                <p>Descoperiți colecția noastră de <b>cuțite de bucătărie</b>, perfecte pentru orice pasionat al gătitului. Indiferent că sunteți în căutarea unui cutit de înaltă calitate sau doar doriți să adăugați la colecția dvs., suntem magazinul de <strong>cutite profesionale de bucatarie</strong> pe care îl căutați.</p>
            </article>
            <article>
                <h3>Seturi de cuțite</h3>
                <p>Descoperiți seturile noastre exclusiviste de cuțite, perfecte pentru orice bucătărie.</p>
            </article>
            <article>
                <h3>Accesorii</h3>
                <blockquote>
                    <p>În plus față de cuțitele de top, oferim și soluții pentru 
                    <strong>ascuțit cutite</strong>. Asigurați-vă că instrumentele dvs. sunt întotdeauna ascuțite și gata de folosit cu accesoriile noastre.
                    </p>
                </blockquote>

                <ul>
                    <li>Șlefuitori de cuțite</li>
                    <li>Huse protecție</li>
                    <li>Seturi de întreținere</li>
                </ul>
            </article>
        </section>

        <section id="oferte">
            <h2>Oferte speciale</h2>
            
            <article>
                <h3>Oferta săptămânii: Cuțitul bucătarului</h3>
                <p>Beneficiază de o reducere de <s>20%</s> <b><ins>30%</ins></b> la cuțitul bucătarului. Acest cuțit din oțel de Damasc este perfect pentru toate nevoile dvs. de gătit!</p>
            </article>
        
            <article>
                <h3>Set de cuțite - Reducere 15%</h3>
                <p>Achiziționează un set complet de cuțite și primești 15% reducere. Setul include cuțitul bucătarului, cuțit de feliat și cuțit pentru legume.</p>
            </article>
        
            <article>
                <h3>Accesorii: Cumpără 2, al 3-lea este gratuit</h3>
                <p>La oricare două accesorii cumpărate, primești un al treilea gratuit. Alege dintre șlefuitorii de cuțite, hușele de protecție și seturile de întreținere.</p>
            </article>
        
        </section>
        

        <section id="despre-noi">
            <h2>Despre Noi</h2>
            <p>SharpMasters este dedicat oferirii celor mai bune cuțite profesionale pentru cei pasionați de gătit... Am fost fondati de Roberto & Daiana Rocco în 1995 și funcționăm ca SRL (<abbr title="Societate cu Răspundere Limitată">SRL</abbr>).</p>
            <p>Pentru mai multe detalii despre istoria noastră și evoluția SharpMasters, <a href="/istoricfirma">click aici</a>.</p>
            <p>De asemenea, dacă doriți să aflați mai multe despre istoria cuțitelor și arta lor în general, vă recomandăm să vizitați <a href="https://destepti.ro/istoria-si-evolutia-cutitului-de-la-arma-la-instrument-utilizat-pentru-a-manca/" target="_blank">destepti.ro</a> pentru un articol detaliat.</p>
        </section>
        
        
        <section id="cursuri-blacksmith">
            <h2>Cursuri Blacksmith organizate de SharpMasters</h2>
            <div class="table-container">
            <table border="1">
                <!-- Antetul tabelului -->
                <thead>
                    <tr>
                        <th colspan="4">Plan Cursuri</th>
                </thead>
        
                <!-- Corpul tabelului -->
                <tbody>
                    <tr>
                        <td>Nivel</td>
                        <td>Începător</td>
                        <td>Avansat</td>
                        <td>Profesionist</td>
                    </tr>
                    <tr>
                        <td>Cost Total</td>
                        <td>1200 lei</td>
                        <td>2100 lei</td>
                        <td>5000 lei</td>
                    </tr>
                    <tr>
                        <td>Durata Curs</td>
                        <td>2 luni</td>
                        <td>3 luni</td>
                        <td>4 luni</td>
                    </tr>
                    <tr>
                        <td>Include Cazare + Masă</td>
                        <td>Nu</td>
                        <td>Nu</td>
                        <td>Da</td>
                    </tr>
                    <tr>
                        <td>Obtinere Certificat</td>
                        <td>Nu</td>
                        <td>Da</td>
                        <td>Da</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>Cumpara</button></td>
                        <td><button>Cumpara</button></td>
                        <td><button>Cumpara</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
            <footer>
                <p>SharpMasters își rezervă dreptul de a modifica sau actualiza informațiile prezentate fără notificare prealabilă. Pentru mai multe detalii sau clarificări, vă rugăm să <a href="contact.html">contactați SharpMasters</a>.</p>
            </footer>
        </section>
        
        <figure>
            <picture>
                <source media="(max-width: 600px)" srcset="imagini/wildcooking-phone.jpg">
                <source media="(min-width: 601px) and (max-width: 1024px)" srcset="imagini/wildcooking-tablet.jpg">
                <source media="(min-width: 1025px)" srcset="imagini/wildcooking-desktop.jpg">
                <img src="/imagini/wildcooking-desktop.jpg" alt="SharpMasters">
            </picture>
            <figcaption>SharpMasters</figcaption>
        </figure>
        <section id="faq">
            <h2>Întrebări frecvente</h2>
            
            <details>
                <summary>Cum îmi pot ascuți cuțitul acasă?</summary>
                <p>Puteți folosi o piatră de ascuțit sau un șlefuitor de cuțite. Este important să mențineți un unghi constant când ascuțiți lama și să urmați instrucțiunile specifice instrumentului pe care îl utilizați.</p>
            </details>
        
            <details>
                <summary>Ce înseamnă un cuțit "full tang"?</summary>
                <p>Un cuțit "full tang" înseamnă că lama cuțitului se extinde prin mânerul cuțitului. Acest lucru conferă cuțitului o mai mare durabilitate și echilibru.</p>
            </details>
        
            <details>
                <summary>Care este diferența dintre cuțitele din oțel inoxidabil și cele din oțel carbon?</summary>
                <p>Cuțitele din oțel inoxidabil sunt rezistente la rugina și necesită întreținere minimă, dar pot fi mai greu de ascuțit. Cuțitele din oțel carbon se ascutesc mai ușor și pot menține o ascuțime mai lungă, dar pot rugini dacă nu sunt îngrijite corespunzător.</p>
            </details>

            <details>
                <summary>Care este formula de baza pentru calcularea ariei unui cutit normal?</summary>
                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mi class="suprafata">S</mi>
                        <mo>=</mo>
                        <mfrac>
                            <mrow>
                                <msup><mi class="baza">B</mi></msup>
                                <mo>+</mo>
                                <msup><mi class="baza">b</mi></msup>
                            </mrow>
                            <mn>2</mn>
                        </mfrac>
                        <mo>&times;</mo>
                        <mi class="inaltime">h</mi>
                    </math>
                    
                </p>
            </details>
            
        
        </section>
        
    </main>
    <%- include('../fragmente/footer') %>
    <aside>
        <h3>Abonează-te la Newsletter</h3>
        <p>Pentru a primi cele mai recente oferte și noutăți de la SharpMasters, înscrie-te la newsletter-ul nostru:</p>
        <form action="/submit-newsletter" method="post">
            <input type="email" name="email" placeholder="Introduceți adresa de e-mail" required>
            <button type="submit">Abonează-te</button>
        </form>
    </aside>

   
</body>

</html>
