<header>
    <h1>Bine ați venit la <span>SharpMasters</span> - Magazinul tău de cutite online!</h1>
    <p>Cel mai bun loc pentru pasionații de cuțite profesionale de gătit.</p>
    <nav>
        <ul>
            <li class="sharp-icon-container">
                <a href="acasa">
                    <div class="menu-icon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </a>
            </li>
            <li><a href="produse">Produse</a></li>
            <li><a href="cautare.html"><i class="fa-solid fa-magnifying-glass fa-xl"></i>Căutare</a></li>
            <li><a href="cont.html"><i class="fa-solid fa-user fa-xl"></i>Contul Meu</a></li>
            <li><a href="comenzi.html"><i class="fa-solid fa-heart fa-xl"></i>Favorite</a></li>
            <li><a href="cos.html"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #0d0d0d;"></i>Coșul Meu</a></li>
        </ul>
    </nav>
</header>